<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - /buff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li{% if in_ %} class="active"{% endif %}><a href="/in">in</a></li>
      <li{% if read %} class="active"{% endif %}><a href="/read">read</a></li>
      <li{% if add_ %} class="active"{% endif %}><a href="/add">add</a></li>
    </ul>
    {% block content %}{% endblock %}
  </body>
</html>
